body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.advert-items-li {
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin-bottom: .5rem;
  list-style-type: none;
  display: flex;
  width: 100%;
  
}

.advert-photo-li {
  width: 200px;
  height: 125px;
  position: relative;
  overflow: hidden;
  margin-right: 16px;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

.advert-base-info-li {
  width: 100%;
  padding-bottom: 8px;
  padding-right: 8px;
}

.advert-base-info-body-header-li {
  align-items: center;
  display: flex;
  width: 100%;
}

.advert-base-info-header-title-li {
  align-self: center;
  font-size: 125%;
  font-weight: bold;
}

.advert-base-info-body-price-li {
  align-items: center;
  display: flex;
  padding-top: 10px;
}

.advert-base-info-body-date-li {
  padding-right: 10px;
}

.advert-base-info-body-li {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 75px;
  background-color: rgba(3, 3, 82, 0.801);
}

.header-logo {
  padding-top: 10px;
  align-self: center;
  padding-left: 50px;
  font-size: 225%;
}

.advert-items-ul {
  padding-left: 10px;
}